.app-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93vh;
  width: 100%;
  justify-content: space-between;
}

.app-header
{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 80px;
  width: 100%;
  z-index: 1;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 0 0 25px 25px;
}

.app-body
{
  background-color: #F8FBFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.app-footer
{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-basis: 80px;
  width: 100%;
  z-index: 1;
  box-shadow: rgb(100 100 111 / 20%) 0px -7px 29px 0px;
  border-radius: 25px 25px 0 0;
}

.footer-item
{
  font-size: 25px;
  color: #CDCDCD;
}

.footer-item--active .footer-item
{
  color: #0D315D;
}